DSC 540
Weeks 11 and 12
Final - Milestone 5
Author: David Brehm
06/03/2021

In [1]:
import pandas as pd
import sqlite3

In [2]:
%cd D:\School\540\Data\Final

D:\School\540\Data\Final

### Merging the Data and Storing in a Database/Visualizing Data

In [3]:
df_csv = pd.read_csv('CDC_data_clean.csv')  # Read in saved flat file data from Milestone 2.
df_web = pd.read_csv('website_data.csv')  # Read in saved website data from Milestone 3.
df_api = pd.read_csv('yelp_data.csv')  # Read in saved API data from Milestone 4.

In [4]:
con = sqlite3.connect("CombinedData.db")  # Create database.
# Load individual dataframes into the database.
df_csv.to_sql("CSVTable", con)
df_web.to_sql("WebsiteTable", con)
df_api.to_sql("APITable", con)

C:\Users\dtbre\anaconda3\lib\site-packages\pandas\core\generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [5]:
"""
Join the three tables on state name.

CSVTable.State_Name
WebsiteTable.State
APITable.State
"""

cur = con.cursor()
cur.execute("CREATE TABLE comb AS SELECT * FROM CSVTable LEFT JOIN WebsiteTable on CSVTable.State_Name = WebsiteTable.State \
            LEFT JOIN APITable on CSVTable.State_Name = APITable.State");

In [6]:
df_comb = pd.read_sql_query("SELECT * FROM comb", con)  # Get combined database table to read into csv.
con.close()  # Close database.
#df_comb.to_csv('CombinedData.csv', index=False)
df_comb

,index,Year,State_Code,State_Name,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,GeoLocation,Category,...,Dairy Queen per 100k,KFC per 100k,StateCode,index:2,State:1,Total Reviews,Average Rating,Abbr,Capital,Zip
0,0,2013,US,National,28.8,28.1,29.5,62562.0,None,Income,...,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN
1,1,2012,DC,District of Columbia,31.6,24.0,40.4,243.0,"(38.890371385, -77.031961127)",Education,...,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN
2,2,2011,AL,Alabama,35.2,30.7,40.0,598.0,"(32.840571122, -86.631860762)",Age (years),...,1.3,1.8,AL,0.0,Alabama,1526.0,3.72,AL,Montgomery,36101.0
3,3,2011,US,National,35.4,33.0,37.9,6649.0,None,Race/Ethnicity,...,NaN,NaN,None,NaN,None,NaN,NaN,None,None,NaN
4,4,2011,RI,Rhode Island,32.1,21.6,44.8,109.0,"(41.708280193, -71.522470314)",Race/Ethnicity,...,0.2,1.3,RI,38.0,Rhode Island,7732.0,3.94,RI,Providence,2901.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11886,11886,2019,ND,North Dakota,31.1,25.5,37.3,536.0,"(47.47531977900047, -100.11842104899966)",Income,...,5.0,1.0,ND,33.0,North Dakota,799.0,3.53,ND,Bismarck,58501.0
11887,11887,2019,MI,Michigan,32.3,30.2,34.5,2997.0,"(44.6613195430005, -84.71439026999968)",Income,...,1.6,1.6,MI,21.0,Michigan,1632.0,3.56,MI,Lansing,48901.0
11888,11888,2019,SD,South Dakota,37.5,31.4,44.0,871.0,"(44.353130053000484, -100.3735306369997)",Age (years),...,4.5,0.8,SD,40.0,South Dakota,74.0,2.88,SD,Pierre,57501.0
11889,11889,2019,HI,Hawaii,29.5,25.8,33.6,821.0,"(21.304850435000446, -157.85774940299973)",Age (years),...,0.5,1.1,HI,10.0,Hawaii,31297.0,4.12,HI,Honolulu,96801.0
11890,11890,2019,VT,Vermont,24.4,21.7,27.3,1834.0,"(43.62538123900049, -72.51764079099962)",Income,...,0.0,1.1,VT,44.0,Vermont,281.0,3.43,VT,Montpelier,5601.0

### Project Summary

This was an interesting project. There were some things I already knew how to do, and some things I needed to learn how to do in order to complete this. Collecting data from flat files and websites I already had experience with, but dealing with an API was very foreign to me. This was also then the most interesting part of the project to me. For these ending visualizations, Tableau is something else that I am familiar with through work.

As for the data itself, all three datasets I looked at ended up being surprisingly clean and required minimal manipulation. The goal was to examine state obesity rates and fast food prevalence to see if there were any trends between the two. 
The CDC flat file had obesity rates by year broken out by multiple different demographics, but I focused on the total rates for this project. The obesity rates by state consistently increase over the years, which isn’t surprising but was interesting to see through a scatter plot visualization. 

The website I gathered data from had fast food prevalence per 100k population for each state. This was something I thought would maybe be positively correlated with obesity rates, but this was not the case. The trend line actually decreased using the most recent obesity data in this CDC data, which is from 2019.

Lastly, I gathered Yelp reviews for the first 50 fast food restaurants in each state’s capital and used that as average fast food ratings for the state. This is a large assumption, but through Yelp I needed to specify an exact location instead of an entire state. I thought the average ratings might have a positive correlation with obesity rates as well, but the data ended up being similar to the fast food restaurant density. The trend line slightly decreased as state obesity rate increased.